
// ☆☆☆ common ☆☆☆
body {
  background: #a2dbf7;
}

.main, 
.list {
  width: 100wh;
  height: 100vh;
}

.sh-body {
  border-top: 1px solid #a2dbf7;
  background: #a2dbf7;
  padding-bottom: 200px;
}

// buttons ( home, list )
.button-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: #a2dbf7;
}

.o-button {
  position: absolute;
  display: block;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 10px;

  &--home {
    right: 30px;
    background: url('../img/ico_home.png') no-repeat 50% 50%/60% auto;
  }

  &--list {
    right: 160px;
    background: url('../img/ico_list.png') no-repeat 50% 50%/60% auto;
  }

  &--rain {
    right: 95px;
    background: url('../img/ico_rain.png') no-repeat 50% 50%/60% auto;
  }

  &--calc {
    left: 30px;
    background: url('../img/ico_calc.png') no-repeat 50% 50%/60% auto;
  }
}

// ☆☆☆ main ☆☆☆
.main {
  $root: '.main';
  border-top: 1px solid #a2dbf7;
  background: url('/img/jeju1.PNG') no-repeat 0 340px/100% auto #a2dbf7;

  &__title {
    margin-top: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__start {
    margin-top: 30px;
    text-align: center;

    #{$root}__button {
      padding: 10px 60px;
      border-radius: 5px;
      color: #fff;
      background: #fea845;
      font-size: 18px;
      letter-spacing: 1px;
      box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.192);

      &:target {
        color: #f72135;
      }
    }
  }
}

// ☆☆☆ list ☆☆☆
.list {
  border-top: 1px solid #a2dbf7;
  background: url("../img/tree.png") no-repeat -250px -130px/ auto 120% #a2dbf7;
  // background-color: #a2dbf7;

  &-button {
    margin-top: 50%;
    text-align: center;

    &__item {
      padding: 20px 30px;
      margin: 0 20px;
      border-radius: 10px;
      font-size: 17px;
      color: #fff;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;
        font-family: 'Jua', sans-serif;
      }

      &:nth-of-type(n+2) {
        margin-top: 15px;
      }
    }
  }
}


// ☆☆☆ travel days ☆☆☆
.calc,
.date {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 25px 0 25px 30px;
  color: #fff;
  background: #2c244c;
  font-family: 'Jua', sans-serif;
}

.calc,
.weather {
  &__text {
    margin-left: 15px;
  }

  &__img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
  
    img {
      width: 100%;
    }
  }
}

.todo {
  width: 100%;
  padding: 0 30px;
  margin-top: 95px;
  box-sizing: border-box;

  &__item {
    padding: 15px;
    border-radius: 15px;
    background: #fff;

    &:nth-of-type(n+2) {
      margin-top: 15px;
    }

    &.calc-output {
      .todo__cont-text {
        width: 40%;
      }

      .delete-btn {
        margin-left: 5px;
      }
    }
  }

  &__title {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #1a8e85;
    font-size: 15px;
    font-family: 'Jua', sans-serif;
    font-weight: lighter;
  }

  &__cont {
    display: flex;
    align-items: center;

    &:nth-of-type(n+2) {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px dotted rgb(209, 209, 209);
    }
  }

  &__cont-text {
    width: 65%;
    margin-left: auto;
    text-align: right;
    padding-left: 20px;
  }

  &__img {
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  &__calc {
    width: 100px;

    &:nth-of-type(n+2) {
      margin-left: 5px;
    }
  }

  &__calc-button {
    margin-left: auto;
  }
}

// tab
.tab {
  margin-top: 115px;
  text-align: center;

  & + .todo {
    margin-top: 20px;
  }

  &__item {
    color: #2c244c;
    font-size: 17px;
    font-family: 'Jua', sans-serif;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 10px;
      margin: 0 20px 0 40px;
      background: #2c244c;
    }
  }
}
