.sr-only {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// scroll 
.non-scroll-y {
  overflow-y: hidden;
}

.non-scroll-x {
  overflow-x: hidden;
}

// text
.o-text--star {
  color: #666;
  font-size: 10px;
  font-family: sans-serif;

  &::before {
    content: '* ';
    color: #666;
  }
}

// link
.link.blue {
  border-bottom: 1px solid #0973f6;
  color: #0973f6;
}

// color
.bg-pink { background-color: #ff6a76;}
.bg-blue { background-color: #4d87af;}
.bg-green { background-color: #1a8e85;}
.pink {color: #ff6a76;}

