body, p, h1, h2, h3, h5, h6, ul, ol, li, dl, dt, dd, div, table, thead, tr, td, tbody, form, textarea, button, select {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  vertical-align: middle;
}

em, address {
  font-style: normal;
}

body, input, textarea, select, button, table {
  font: 14px 'Noto Sans KR', 'sans-serif';
  color: #555;
}

body {
  background: #a2dbf7;
}

.main,
.list {
  width: 100wh;
  height: 100vh;
}

.sh-body {
  border-top: 1px solid #a2dbf7;
  background: #a2dbf7;
  padding-bottom: 200px;
}

.button-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: #a2dbf7;
}

.o-button {
  position: absolute;
  display: block;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 10px;
}

.o-button--home {
  right: 30px;
  background: url("../img/ico_home.png") no-repeat 50% 50%/60% auto;
}

.o-button--list {
  right: 160px;
  background: url("../img/ico_list.png") no-repeat 50% 50%/60% auto;
}

.o-button--rain {
  right: 95px;
  background: url("../img/ico_rain.png") no-repeat 50% 50%/60% auto;
}

.o-button--calc {
  left: 30px;
  background: url("../img/ico_calc.png") no-repeat 50% 50%/60% auto;
}

.main {
  border-top: 1px solid #a2dbf7;
  background: url("/img/jeju1.PNG") no-repeat 0 340px/100% auto #a2dbf7;
}

.main__title {
  margin-top: 50px;
}

.main__title img {
  width: 100%;
  height: auto;
}

.main__start {
  margin-top: 30px;
  text-align: center;
}

.main__start .main__button {
  padding: 10px 60px;
  border-radius: 5px;
  color: #fff;
  background: #fea845;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.192);
          box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.192);
}

.main__start .main__button:target {
  color: #f72135;
}

.list {
  border-top: 1px solid #a2dbf7;
  background: url("../img/tree.png") no-repeat -250px -130px/auto 120% #a2dbf7;
}

.list-button {
  margin-top: 50%;
  text-align: center;
}

.list-button__item {
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
}

.list-button__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  font-family: 'Jua', sans-serif;
}

.list-button__item:nth-of-type(n+2) {
  margin-top: 15px;
}

.calc,
.date {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 25px 0 25px 30px;
  color: #fff;
  background: #2c244c;
  font-family: 'Jua', sans-serif;
}

.calc__text,
.weather__text {
  margin-left: 15px;
}

.calc__img,
.weather__img {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.calc__img img,
.weather__img img {
  width: 100%;
}

.todo {
  width: 100%;
  padding: 0 30px;
  margin-top: 95px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo__item {
  padding: 15px;
  border-radius: 15px;
  background: #fff;
}

.todo__item:nth-of-type(n+2) {
  margin-top: 15px;
}

.todo__item.calc-output .todo__cont-text {
  width: 40%;
}

.todo__item.calc-output .delete-btn {
  margin-left: 5px;
}

.todo__title {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #1a8e85;
  font-size: 15px;
  font-family: 'Jua', sans-serif;
  font-weight: lighter;
}

.todo__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #ff6a76;
}

.todo__foot ul {
  width: 100%;
}

.todo__foot .todo__cont:first-child {
  border-top: 1px solid #1a8e85;
  padding-top: 10px;
}

.todo__foot .todo__cont:nth-of-type(n+2) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: none;
}

.todo__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__cont:nth-of-type(n+2) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dotted #d1d1d1;
}

.todo__cont-text {
  width: 65%;
  margin-left: auto;
  text-align: right;
  padding-left: 20px;
}

.todo__img {
  margin: 0 auto;
}

.todo__img img {
  width: 100%;
}

.todo__calc {
  width: 100px;
}

.todo__calc:nth-of-type(n+2) {
  margin-left: 5px;
}

.todo__calc-button {
  margin-left: auto;
}

.tab {
  margin-top: 115px;
  text-align: center;
}

.tab + .todo {
  margin-top: 20px;
}

.tab__item {
  color: #2c244c;
  font-size: 17px;
  font-family: 'Jua', sans-serif;
}

.tab__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 10px;
  margin: 0 20px 0 40px;
  background: #2c244c;
}

.sr-only {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.non-scroll-y {
  overflow-y: hidden;
}

.non-scroll-x {
  overflow-x: hidden;
}

.o-text--star {
  color: #666;
  font-size: 10px;
  font-family: sans-serif;
}

.o-text--star::before {
  content: '* ';
  color: #666;
}

.link.blue {
  border-bottom: 1px solid #0973f6;
  color: #0973f6;
}

.bg-pink {
  background-color: #ff6a76;
}

.bg-blue {
  background-color: #4d87af;
}

.bg-green {
  background-color: #1a8e85;
}

.pink {
  color: #ff6a76;
}
/*# sourceMappingURL=common.css.map */